<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Valores à Receber</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item-sliding *ngFor="let renda of rendas">

    <ion-item-options side="start">
      <ion-item-option color="secondary" [routerLink]="['/renda-register', renda.id]">
        <ion-icon name="pencil" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="excluir(renda)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-label>
        <h2>{{renda.nomeRenda}}</h2>
        <h3>Descrição: <strong>{{renda.descricao}}</strong></h3>
        <h3>
          Valor:
          <ion-text>
            <strong> {{renda.valor | currency : 'R$ '}} </strong>
          </ion-text>
        </h3>
        <small>
          Data:
          <ion-text color="medium">
            {{renda.data | date: 'dd/MM/yyyy'}}
          </ion-text>
        </small>
      </ion-label>
    </ion-item>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/tabs/renda-register']">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
