ion-spinner {
    margin-top: 5rem;
    margin-left: 11rem;
}
ion-list{
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
ion-label{
    h2{
        color: #7567E5;
    }
}
.item-native{
    background: #7567E5;
}
ion-label {
    border-left: 4px solid #5451d7;
    padding: 0 10px;
}
.contas {
    margin: 0 0;
    list-style-type: none;
    padding-inline-start: 0px;
  
    li {
      font-weight: bold;
    }
  }