<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Rendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let renda of rendas">
      
      <ion-item-options side="start">
        <ion-item-option color="secondary" [routerLink]="['/tabs/renda-register', renda.id]">
          <ion-icon name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmRemoveRenda(renda)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item lines="none">
        <ion-label>
          <h2 color="secondary"><strong>{{renda.nomeRenda}}</strong></h2>
          <h3>Descrição: {{renda.descricao}}</h3>
          <h3>
            Valor:
            <ion-text>
              <strong> {{renda.valor | currency : 'R$ '}} </strong>
            </ion-text>
          </h3>
          <h3>
            Data:
            <ion-text>
              {{renda.data | date: 'dd/MM/yyyy'}}
            </ion-text>
            <ion-text *ngIf="renda.contas?.lenth"> </ion-text></h3>
          
            <h3 *ngFor="let conta of renda.contas">
              Pagamento:
              <strong>{{ conta.banco }} | {{ conta.nomeConta }}</strong>
            </h3>
          
          
        </ion-label>
      </ion-item>
      
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button [routerLink]="['/tabs/renda-register']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

