<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="inicio">
      <ion-icon name="card" color="primary"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adicionar">
      <ion-icon name="add-circle" color="secondary"></ion-icon>
      <ion-label>Adicionar gasto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="renda-list">
      <ion-icon name="wallet" color="secondary"></ion-icon>
      <ion-label>Rendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conta-bancaria">
      <ion-icon name="cash" color="secondary"></ion-icon>
      <ion-label>Conta Bancária</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
