<ion-header>
  <ion-toolbar>
      <ion-title color="primary">Adicionar Renda</ion-title>
    </ion-toolbar> 
</ion-header>
<ion-content [formGroup]="form">
  
  <ion-item> 
      <ion-label position="stacked">Nome: </ion-label>
          <ion-input type="text" formControlName="nomeRenda"></ion-input>
  </ion-item>

  <ion-item> 
    <ion-label position="stacked">Descrição: </ion-label>
        <ion-input type="text" formControlName="descricao"></ion-input>
</ion-item>
  <ion-item>
      <ion-label position="stacked">Valor: </ion-label>
      <ion-input type="number" formControlName="valor"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Data: </ion-label>
      <ion-datetime displayFormat="DD/MM/YY" formControlName="data"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Pagamento: </ion-label>
    <ion-select formControlName="contas" multiple="true" cancelText="Cancelar" [compareWith]="compareWith">
      <ion-select-option *ngFor="let conta of contas" [value]="conta">
        {{ conta.banco }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="salvarRenda()" [disabled]="!form.valid">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
