h3.banco {
    font-weight: 700;
    font-size: 16px;
    padding: 0 10px 0 15px;
    color: #5451d7;
}
h3 {
    font-family: 'Poppins';
}
ion-card{
    color:#000;
    ion-card-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 15px 20px;
        color: #000;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        h3{
            font-size: 14px;
            margin-bottom: 15px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ion-label{
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}
.conteudo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
}
.opcoes{
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-left: 30px;
    margin-top: 10px;
    ion-item-option {
        color: #5451d7;
        background: white;
    }
}
.remover-fav {
    font-size: 12px;
    padding: 3px 18px;
    color: #f14141;
}
ion-icon{
    top: 2px;
    position: relative;
    margin-right: 10px;
}