<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Contas Bancárias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
  <div *ngIf="!loading">
    <ion-button color="warning" class="contas-destaques" [routerLink]="['/tabs/conta-bancaria-destaque']"><span class="title-button-destaque">Minhas contas bancárias destaques</span></ion-button>
    <ion-card *ngFor="let conta of contaBancaria"> 
      <div class="conteudo">
        <div class="pt-1">
          <h3 class="banco">{{conta.banco}}</h3> 
        </div>
        <div class="pt-2">
          <div class="opcoes">
            <ion-item-option class="edit" [routerLink]="['/tabs/conta-bancaria-register', conta.id]">
              <ion-icon size="small" color="tertiary" name="pencil"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="confirmRemoveConta(conta)">
              <ion-icon size="small" color="danger" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="addDestaque(conta)">
              <ion-icon size="small" color="warning" name="star"></ion-icon>
            </ion-item-option>
          </div>
        </div>
      </div>
      <ion-card-content> 
        <div class="pt-1">
          <h3>{{conta.nomeConta}}</h3>        
          <h3>Agência: {{conta.agencia}}</h3>        
        </div>
        <div class="pt-2"> 
          <h3>CPF: {{conta.cpf}}</h3>
          <h3>Conta: {{conta.conta}}</h3>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>    
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button [routerLink]="['/tabs/conta-bancaria-register']">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
